<!--<h1>Student Management System</h1>
<ul>
    <li><a routerLink="add"> Add </a></li>
   
    <li><a routerLink="list1"> List </a></li>

    <li><a routerLink="edit"> Edit </a></li>


    <li><a routerLink="login"> login </a></li>
    <li><a routerLink="reg"> Registrations </a></li>
</ul>-->

<!--

<app-position-finder></app-position-finder>
<app-duplicate-check></app-duplicate-check>
<app-number-position></app-number-position>


<app-number-info-component></app-number-info-component>

<app-number-checker></app-number-checker>
<app-number-generator-component></app-number-generator-component>
<app-number-position></app-number-position>-->

<!--
<div>
    <h2>Position Finder</h2>
    <app-position-finder></app-position-finder>
  </div>
  <div>
    <h2>Digit Checker</h2>
    <app-digit-checker></app-digit-checker>
  </div>
<app-duplicate-check></app-duplicate-check>

<app-duplicate-check-app></app-duplicate-check-app>
<app-position-finder></app-position-finder>
<app-digit-checker></app-digit-checker>
<app-digit-duplicate-checker-component></app-digit-duplicate-checker-component>

-->

<!--
<app-duplicated-value123></app-duplicated-value123>

<app-text-compare-component-values></app-text-compare-component-values>

<app-digit-info-component></app-digit-info-component>
-->
<app-digit-duplicate-checker-component></app-digit-duplicate-checker-component>
<router-outlet></router-outlet>