<h2>number-info-component works!</h2>
<div>
  <input type="text" [(ngModel)]="number" placeholder="10000">
    
  
  <p>Number: {{ number }}</p>
    <p>Position: {{ position }}</p>
    <p *ngIf="hasDuplicates">Contains Duplicate Digits</p>
    <p *ngIf="!hasDuplicates">No Duplicate Digits</p>
  </div>

  <div>



  









  <div>
    <p>Number: {{ number }}</p>
    <p>Position: {{ position }}</p>
    <p *ngIf="hasDuplicates">Contains Duplicate Digits</p>
    <p *ngIf="!hasDuplicates">No Duplicate Digits</p>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>


  